<a class="other-ways small pt-xl-0 pt-lg-3 pt-md-3 pt-sm-3 pt-3 pb-xl-0 pb-lg-3 pb-md-3 pb-sm-3 pb-3" href="https://github.com/teaxyz/cli#now-see-here-fella-i-hate-installers">Additional Installation Methods ></a>

<style>
  .other-ways{
    font-family: "sono";
  }
  @media only screen and (min-width: 1792px) {
    .hero-bottom{
      padding-left: 8.371vw;
      padding-right: 8.371vw;
      justify-content: end;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1792px) {
    .hero-bottom{
      padding-left: 8.371vw;
      padding-right: 8.371vw;
      justify-content: end;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .hero-bottom{
      padding-left: 10vw;
      padding-right: 10vw;
      justify-content: end;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .hero-bottom{
      padding-left: 5.040vw;
      padding-right: 5.040vw;
      justify-content: end;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 768px) {
    .hero-bottom{
      padding-left: 6.510vw;
      padding-right: 6.510vw;
      justify-content: center;
    }
  }
  @media only screen and (max-width: 576px) {
    .hero-bottom{
      height: 50px !important;
      padding-left: 5vw;
      padding-right: 5vw;
      justify-content: center;
    }
  }
</style>
