<style>
.detail-btn{
  display:inline-block;
  font-family: "pp-neue-machina", sans-serif;
  background-color: #1a1a1a;
  border: .5px solid #ffffff;
  color: #fff;
  padding-top: 0.279vw;
  text-decoration: none;
  text-transform: uppercase;
  width: 134px;
  height: 2.232vw;
  min-height: 34px;
  transition: 0.1s linear;
}

.detail-btn:hover{
  background-color: #8000ff;
  box-shadow: inset 0vw 0vw 0vw 0.223vw #1a1a1a !important;
}

/* Icon Styling */

.detail-btn .icon-enter-arrow{
 display: inline-block;
 position: relaitve;
 margin-right: 0.558vw;
 transition: 0.2s ease-in-out;
}

.detail-btn:hover .icon-enter-arrow{
 display: inline-block;
 transform: rotate(-45deg) !important;
}

</style>

<button class="detail-btn"><i class="icon-enter-arrow"></i>details</button>
