<style>

@media only screen and (min-width: 1200px) {

  .gf-container {
    width: 20vw;
    height: 4vw;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .3vw;
    position: fixed;
    font-size: 1vw;
    background-color: #1a1a1a !important;
    border: 2px solid #949494;
    color: #ffffff;
    text-decoration: none;
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    right: 15px;
    top: 5.3vw;
    cursor: pointer;
    z-index: 5 !important;
    transition: 0.2s ease-in-out;
  }

  .gf-container:hover {
    color:#1a1a1a;
    box-shadow: inset 0vw 0vw 0vw 0.358vw #1a1a1a !important;
    background-color: #00ffd0 !important;

  }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  .gf-container {
    width: 20vw;
    height: 5vw;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .3vw;
    position: fixed;
    font-size: 1.2vw;
    background-color: #1a1a1a !important;
    border: 2px solid #949494;
    color: #ffffff;
    text-decoration: none;
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    right: 15px;
    top: 6.5vw;
    cursor: pointer;
    z-index: 5 !important;
    transition: 0.2s ease-in-out;
  }

  .gf-container:hover {
    color:#1a1a1a;
    box-shadow: inset 0vw 0vw 0vw 0.358vw #1a1a1a !important;
    background-color: #00ffd0 !important;

  }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {

  .gf-container {
    width: 20vw;
    height: 5vw;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.3vw;
    position: fixed;
    text-align:center;
    font-size: 1.562vw;
    background-color: #1a1a1a !important;
    border: 2px solid #949494;
    color: #ffffff;
    text-decoration: none;
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    right: 15px;
    top: 12vw;
    cursor: pointer;
    z-index: 5 !important;
    transition: 0.2s ease-in-out;
  }

  .gf-container:hover {
    color:#1a1a1a;
    box-shadow: inset 0vw 0vw 0vw 0.358vw #1a1a1a !important;
    background-color: #00ffd0 !important;

  }

}

@media only screen and (min-width: 576px) and (max-width: 768px) {

  .gf-container {
    width: 32vw;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    padding-top: 0.3vw;
    position: fixed;
    text-align:center;
    font-size: 2.5vw;
    background-color: #1a1a1a !important;
    border: 2px solid #949494;
    color: #ffffff;
    text-decoration: none;
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    right: 15px;
    bottom: 2.5vw;
    cursor: pointer;
    z-index: 5 !important;
    transition: 0.2s ease-in-out;
  }

  .gf-container:hover {
    color:#1a1a1a;
    box-shadow: inset 0vw 0vw 0vw 0.358vw #1a1a1a !important;
    background-color: #00ffd0 !important;

  }

}

@media only screen and (max-width: 576px) {

  .gf-container {
    width: 48vw;
    height: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    position: fixed;
    text-align:center;
    padding-top:0.4vw;
    font-size: 4vw;
    background-color: #1a1a1a !important;
    border: 2px solid #949494;
    color: #ffffff;
    text-decoration: none;
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    right: 3vw;
    bottom: 3vw !important;
    cursor: pointer;
    z-index: 5 !important;
    transition: 0.2s ease-in-out;
  }

  .gf-container:hover {
    color:#1a1a1a;
    box-shadow: inset 0vw 0vw 0vw 1vw #1a1a1a !important;
    background-color: #00ffd0 !important;

  }

}

</style>

<a href="https://github.com/login/oauth/authorize?client_id=9d1f1a72f1300b6991df&state=teaxyz" class="gf-container animated-5 animatedFadeInUp fadeInUp auth-btn" style="background-color:#8EC7BF;">
 AUTHENTICATE
</a>
