<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link footer-link small" href="https://medium.com/teaxyz">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link footer-link small" href="/press/">Press</a>
  </li>
  <li class="nav-item">
    <a class="nav-link footer-link small" href="/careers/">Careers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link footer-link small" href="/privacy-policy/">Privacy Policy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link footer-link small" href="/terms-of-use/">Terms of Use</a>
  </li>
</ul>

<style>
  .footer-link{
    text-transform: lowercase;
    color: white;
    padding: 0vw 0vw 0vw 2.232vw !important;
  }

  .footer-link:hover{
    color: #00ffd0 !important;
  }

</style>
