<hr>
  <div class="row button-container">
    <a href="#" role="button" class="btn btn-primary auth-btn mt-lg-0 mt-md-0 mt-sm-0 mt-0 split-btn" id="nav-cta"><i class="icon-enter-arrow"></i>NPM</a>
    <a href="#" role="button" class="btn btn-primary auth-btn mt-lg-0 mt-md-0 mt-sm-0 mt-0 split-btn split-right" id="nav-cta"><i class="icon-enter-arrow"></i>INSTALL</a>
  </div>
<hr>

<style>
  .split-btn{
    display: inline-block;
    width: 50%;
  }

  .split-right{
    border-left: 0px !important;
  }

</style>
