<nav class="navbar bg-dark navbar-expand-lg navbar-dark sticky-top my-auto main-nav">
    <div class="container-fluid top-nav">
      <a class="navbar-brand" href="/"><img class="nav-logo" src="/Images/tea-logo-2.svg"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight" aria-expanded="false" aria-label="Toggle navigation">
        MENU
      </button>
      <div class="collapse navbar-collapse pt-2 pb-2" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-4 my-auto">
          {{ range .Site.Menus.main }}
          <li class="nav-item mt-lg-0 mt-md-0 mt-sm-3 mt-3">
            <a class="nav-link{{ if $.IsMenuCurrent "main" . }} active" aria-current="page {{ end }}" href="{{ .URL }}">{{ .Name}}</a>
          </li>
          {{ end }}
          <li class="nav-item mt-lg-0 mt-md-0 mt-sm-3 mt-3">
            <a class="nav-link" aria-current="page" href="https://github.com/teaxyz/cli">GITHUB (&#9734;<span class="stargazers"></span>, <span class="release"></span>)</a>
          </li>
        </ul>
        <!--
          <a class="btn btn-primary auth-btn mt-lg-0 mt-md-0 mt-sm-4 mt-4" id="nav-cta" href="https://github.com/login/oauth/authorize?client_id=9d1f1a72f1300b6991df&state=teaxyz" role="button"><span id="cta-text">Authenticate with tea</span><span class="badge rounded-pill bg-primary ms-3"><span id="count1">287</span></span><span id="lp-text"></span></a>-->
      </div>
    </div>
  </nav>
