<div class="gen-art animated-25 animatedFadeInUp fadeInUp" id="nb-man-gen-art-1"></div>
<div class="gen-art animated-5 animatedFadeInUp fadeInUp" id="nb-man-gen-art-2"></div>
<div class="gen-art animated-5 animatedFadeInUp fadeInUp" id="nb-man-gen-art-3"></div>

<style>

  #nb-man-gen-art-1{
    position:absolute;
    width:34vw;
    height: 32vw;
    right: 5.8vw;
    top:12.8vw;
    z-index: 1;
    background-image: url("/Images/gen-art/nb-man-cover-1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

  #nb-man-gen-art-2{
    position:absolute;
    width:12vw;
    height: 12vw;
    border-radius: 200px;
    right: 32vw !important;
    top:36vw;
    z-index: 1;
    background-image: url("/Images/gen-art/nb-man-cover-2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

  #nb-man-gen-art-3{
    position:absolute;
    width:30vw;
    height: 12vw;
    right: 32vw !important;
    top:29vw;
    z-index: 0;
    background-image: url("/Images/gen-art/nb-man-page-1.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

</style>
