<section>
    <div class="button-container">
        <div class="searchBar">
            <div style="display:flex; align-items:center;">
                <div class="icon">
                <i class="icon-search-icon"></i>
                </div>
                <input id="{{- . -}}" type="search" placeholder="search_" />
            </div>
            {{- partial "sort-dropdown.html" -}}
        </div>
    </div>
</section>

<style>

  .icon-search-icon{
    font-size: 30px;
    color: #949494;
    margin-right: 20px;
    position: relative;
    top: 2px;
  }

  .searchBar {
    padding: 0px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .searchBar .sorting-container {
    min-width: 260px;
  }
  .searchBar input {
    font-size: 32px;
    font-family: "pp-neue-machina", sans-serif;
    color:#00ffd0;
    text-transform:uppercase;
    margin-bottom: -5px;
    min-width: 60%;
    padding: 0px;
    background-color: #1a1a1a !important;
    border: none;
    color: #00ffd0;
    outline: none;
    border-radius: 0px;
  }
  .searchBar input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #949494;
    opacity: 1; /* Firefox */
  }
</style>