/* Fade in and up animations - declared with the following classes: */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated-5 {
    animation-duration: 1s;
    animation-delay: .5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animated-25 {
    animation-duration: 1s;
    animation-delay: .25s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* Text Flicker Animation */

/*
h1{
  animation: text-flicker 1.5s linear;
  transition: 0.2s ease-out;
}

@keyframes text-flicker {
  0% {
    opacity:.1;
  }

  2% {
    opacity:1;
  }
  8% {
    opacity:0.1;
  }
  9% {
    opacity:1;
  }
  12% {
    opacity:0.1;
  }
  20% {
    opacity:1;
  }
  25% {
    opacity:0.3;
  }
  30% {
    opacity:1;
  }

  70% {
    opacity:0.7;
  }

  72% {
    opacity:0.2;
  }

  77% {
    opacity:.9;
  }
  100% {
    opacity:.9;
  }
}
