/* Full-Width CTA */

@media only screen and (min-width: 1200px) {

  .btn-primary{
    padding: 2.455vw 4.185vw;
    border-radius: 0px !important;
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    font-size: 2vw;
    border-left: 2px solid #949494 !important;
    border-right: 2px solid #949494 !important;
    background-color: #1a1a1a !important;
    outline: none !important;
    box-shadow: none !important;
    text-align: left;
    border-top-color:#1a1a1a;
    border-bottom-color: #1a1a1a;
    transition: 0.2s linear;
  }

  .btn-primary:hover{
    background-color: #00ffd0 !important;
    color: #1a1a1a;
    border-top-color:#00ffd0;
    border-bottom-color:#00ffd0;
    border-left-color:#00ffd0;
    border-right-color:#00ffd0;
    box-shadow: inset 0vw 0vw 0vw 0.558vw #1a1a1a !important;
    padding: 2.455vw 5.580vw;
    border-top-color:#1a1a1a;
    border-bottom-color: #1a1a1a;
  }

  .button-container{
    padding: 0vw 8.929vw;
  }

  /* Icon Styling */

  .btn-primary .icon-enter-arrow,
  .btn-primary .icon-download-arrow{
   display: inline-block;
   position: relative;
   margin-right: 0.558vw;
   transition: 0.2s linear;
  }

  .btn-primary:hover .icon-enter-arrow{
   display: inline-block;
   transform: rotate(-45deg) !important;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  .btn-primary{
    padding: 3.5vw 4.185vw;
    border-radius: 0px !important;
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    font-size: 2vw;
    border-left: 2px solid #949494 !important;
    border-right: 2px solid #949494 !important;
    background-color: #1a1a1a !important;
    outline: none !important;
    box-shadow: none !important;
    text-align: left;
    border-top-color:#1a1a1a;
    border-bottom-color: #1a1a1a;
    transition: 0.2s linear;
  }

  .btn-primary:hover{
    background-color: #00ffd0 !important;
    color: #1a1a1a;
    border-top-color:#00ffd0;
    border-bottom-color:#00ffd0;
    border-left-color:#00ffd0;
    border-right-color:#00ffd0;
    box-shadow: inset 0vw 0vw 0vw 0.558vw #1a1a1a !important;
    border-top-color:#1a1a1a;
    border-bottom-color: #1a1a1a;
  }

  .dev-count{
    font-size: 1.2vw !important;
  }

  .button-container{
    padding: 0vw 11vw !important;
  }

  /* Icon Styling */

  .btn-primary .icon-enter-arrow{
   display: inline-block;
   position: relative;
   margin-right: 0.558vw;
   transition: 0.2s linear;
  }

  .btn-primary:hover .icon-enter-arrow{
   display: inline-block;
   transform: rotate(-45deg) !important;
  }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {

  .btn-primary{
    padding: 2.455vw 4.185vw;
    border-radius: 0px !important;
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    font-size: 2vw;
    border-left: 2px solid #949494 !important;
    border-right: 2px solid #949494 !important;
    background-color: #1a1a1a !important;
    outline: none !important;
    box-shadow: none !important;
    text-align: left;
    border-top-color:#1a1a1a;
    border-bottom-color: #1a1a1a;
    transition: 0.2s linear;
  }

  .btn-primary:hover{
    background-color: #00ffd0 !important;
    color: #1a1a1a;
    border-top-color:#00ffd0;
    border-bottom-color:#00ffd0;
    border-left-color:#00ffd0;
    border-right-color:#00ffd0;
    box-shadow: inset 0vw 0vw 0vw 0.558vw #1a1a1a !important;
    padding: 2.455vw 5.580vw;
    border-top-color:#1a1a1a;
    border-bottom-color: #1a1a1a;
  }

  .button-container{
    padding: 0vw 8.929vw;
  }

  /* Icon Styling */

  .btn-primary .icon-enter-arrow{
   display: inline-block;
   position: relative;
   margin-right: 0.558vw;
   transition: 0.2s linear;
  }

  .btn-primary:hover .icon-enter-arrow{
   display: inline-block;
   transform: rotate(-45deg) !important;
  }

}

@media only screen and (min-width: 576px) and (max-width: 768px){

  .btn-primary{
    padding: 5vw 4vw !important;
    border-radius: 0px !important;
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    font-size: 3.5vw;
    border-left: 2px solid #949494 !important;
    border-right: 2px solid #949494 !important;
    background-color: #1a1a1a !important;
    outline: none !important;
    box-shadow: none !important;
    text-align: left;
    border-top-color:#1a1a1a;
    border-bottom-color: #1a1a1a;
    transition: 0.2s linear;
  }

  .btn-primary:hover{
    background-color: #00ffd0 !important;
    color: #1a1a1a;
    border-top-color:#00ffd0;
    border-bottom-color:#00ffd0;
    border-left-color:#00ffd0;
    border-right-color:#00ffd0;
    box-shadow: inset 0vw 0vw 0vw 0.558vw #1a1a1a !important;
    padding: 2.455vw 5.580vw;
    border-top-color:#1a1a1a;
    border-bottom-color: #1a1a1a;
  }

  .button-container{
    padding: 0vw 8.929vw;
  }

  .dev-count{
    display: none;
  }

  /* Icon Styling */

  .btn-primary .icon-enter-arrow{
   display: inline-block;
   position: relative;
   margin-right: 0.558vw;
   transition: 0.2s linear;
  }

  .btn-primary:hover .icon-enter-arrow{
   display: inline-block;
   transform: rotate(-45deg) !important;
  }

}

@media only screen and (max-width: 576px) {

  .btn-primary{
    padding: 7.5vw 7.5vw !important;
    border-radius: 0px !important;
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    font-size: 4vw !important;
    border-left: 2px solid #949494 !important;
    border-right: 2px solid #949494 !important;
    background-color: #1a1a1a !important;
    outline: none !important;
    box-shadow: none !important;
    text-align: left;
    border-top-color:#1a1a1a;
    border-bottom-color: #1a1a1a;
    transition: 0.2s linear;
  }

  .btn-primary:hover{
    background-color: #00ffd0 !important;
    color: #1a1a1a;
    border-top-color:#00ffd0;
    border-bottom-color:#00ffd0;
    border-left-color:#00ffd0;
    border-right-color:#00ffd0;
    box-shadow: inset 0vw 0vw 0vw 1vw #1a1a1a !important;
    padding: 7.5vw 11.200vw;
    border-top-color:#1a1a1a;
    border-bottom-color: #1a1a1a;
  }

  .button-container{
    padding: 0vw 7vw !important;
  }

  .dev-count{
    display: none;
  }

  /* Icon Styling */

  .btn-primary .icon-enter-arrow{
   display: inline-block;
   position: relative;
   margin-right: 3vw;
   transition: 0.2s linear;
  }

  .btn-primary:hover .icon-enter-arrow{
   display: inline-block;
   transform: rotate(-45deg) !important;
  }

}



/* Detail Button - Large */

@media only screen and (min-width: 1200px) {

  .detail-btn-large{
    display:inline-block;
    font-family: "pp-neue-machina", sans-serif;
    font-size: 16px;
    background-color: #1a1a1a;
    border: .5px solid #ffffff;
    color: #fff;
    padding-top: 0.279vw;
    text-decoration: none;
    text-transform: uppercase;
    width: 375px;
    height: 75px;
    transition: 0.2s ease-in-out;
  }

  .detail-btn-large:hover{
    background-color: #8000ff;
    box-shadow: inset 0vw 0vw 0vw 0.335vw #1a1a1a !important;
  }

   /* Icon Styling */

  .detail-btn-large .icon-enter-arrow{
    display: inline-block;
    position: relaitve;
    margin-right: 0.558vw;
    transition: 0.2s ease-in-out;
  }

  .detail-btn-large:hover .icon-enter-arrow{
    display: inline-block;
    transform: rotate(-45deg) !important;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  .detail-btn-large{
    display:inline-block;
    font-family: "pp-neue-machina", sans-serif;
    font-size: 16px;
    background-color: #1a1a1a;
    border: .5px solid #ffffff;
    color: #fff;
    padding-top: 0.279vw;
    text-decoration: none;
    text-transform: uppercase;
    width: 300px;
    height: 60px;
    transition: 0.2s ease-in-out;
  }

  .detail-btn-large:hover{
    background-color: #8000ff;
    box-shadow: inset 0vw 0vw 0vw 0.335vw #1a1a1a !important;
  }

   /* Icon Styling */

  .detail-btn-large .icon-enter-arrow{
    display: inline-block;
    position: relaitve;
    margin-right: 0.558vw;
    transition: 0.2s ease-in-out;
  }

  .detail-btn-large:hover .icon-enter-arrow{
    display: inline-block;
    transform: rotate(-45deg) !important;
  }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {

  .detail-btn-large{
    display:inline-block;
    font-family: "pp-neue-machina", sans-serif;
    font-size: 14px;
    background-color: #1a1a1a;
    border: .5px solid #ffffff;
    color: #fff;
    padding-top: 0.279vw;
    text-decoration: none;
    text-transform: uppercase;
    width: 250px;
    height: 50px;
    transition: 0.2s ease-in-out;
  }

  .detail-btn-large:hover{
    background-color: #8000ff;
    box-shadow: inset 0vw 0vw 0vw 0.335vw #1a1a1a !important;
  }

   /* Icon Styling */

  .detail-btn-large .icon-enter-arrow{
    display: inline-block;
    position: relaitve;
    margin-right: 0.558vw;
    transition: 0.2s ease-in-out;
  }

  .detail-btn-large:hover .icon-enter-arrow{
    display: inline-block;
    transform: rotate(-45deg) !important;
  }

}

@media only screen and (min-width: 576px) and (max-width: 768px) {

  .detail-btn-large{
    display:inline-block;
    font-family: "pp-neue-machina", sans-serif;
    font-size: 14px;
    background-color: #1a1a1a;
    border: .5px solid #ffffff;
    color: #fff;
    padding-top: 0.279vw;
    text-decoration: none;
    text-transform: uppercase;
    width: 250px;
    height: 50px;
    transition: 0.2s ease-in-out;
  }

  .detail-btn-large:hover{
    background-color: #8000ff;
    box-shadow: inset 0vw 0vw 0vw 0.335vw #1a1a1a !important;
  }

   /* Icon Styling */

  .detail-btn-large .icon-enter-arrow{
    display: inline-block;
    position: relaitve;
    margin-right: 0.558vw;
    transition: 0.2s ease-in-out;
  }

  .detail-btn-large:hover .icon-enter-arrow{
    display: inline-block;
    transform: rotate(-45deg) !important;
  }

}

@media only screen and (max-width: 576px) {

  .detail-btn-large{
    display:inline-block;
    font-family: "pp-neue-machina", sans-serif;
    font-size: 3vw;
    background-color: #1a1a1a;
    border: 1px solid #ffffff !important;
    color: #fff;
    padding-top: 0.279vw;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    height: 14vw;
    transition: 0.2s ease-in-out;
  }

  .detail-btn-large:hover{
    background-color: #8000ff;
    box-shadow: inset 0vw 0vw 0vw 1.25vw #1a1a1a !important;
  }

   /* Icon Styling */

  .detail-btn-large .icon-enter-arrow{
    display: inline-block;
    position: relative;
    margin-right: 2vw;
    transition: 0.2s ease-in-out;
  }

  .detail-btn-large:hover .icon-enter-arrow{
    display: inline-block;
    transform: rotate(-45deg) !important;
  }

}

/* Dropdown Button - Large */

@media only screen and (min-width: 1200px) {

  .languages{
    display:inline-block;
    font-family: "pp-neue-machina", sans-serif !important;
    font-size: 1.116vw;
    border-radius: 0px !important;
    background-color: #1a1a1a;
    border: 1px solid #ffffff;
    color: #fff;
    padding-top: 0.279vw;
    text-decoration: none;
    text-transform: uppercase;
    width: 25.000vw;
    height: 4.185vw;
    transition: 0.2s ease-in-out;
  }

  .languages:hover{
    background-color: #8000ff;
    box-shadow: inset 0vw 0vw 0vw 0.335vw #1a1a1a !important;
    border: 1px solid #ffffff;
  }

  .languages:focus{
    background-color: #1a1a1a !important;
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #ffffff;
  }

  #language-selector{
    background-color: #1a1a1a;
    width: 25vw;
    border-radius: 0px;
    border: 1px solid #949494;
  }

  #language-selector a{
    color: #fff !important;
  }

  #language-selector a:hover{
    color: #1a1a1a !important;
    background-color: #00ffd0;
  }


}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  .languages{
    display:inline-block;
    font-family: "pp-neue-machina", sans-serif !important;
    font-size: 1.116vw;
    background-color: #1a1a1a;
    border: 1px solid #ffffff;
    color: #fff;
    padding-top: 0.279vw;
    text-decoration: none;
    text-transform: uppercase;
    width: 25.000vw;
    height: 4.185vw;
    transition: 0.2s ease-in-out;
    border: 1px solid #ffffff;
  }

  .languages:hover{
    background-color: #8000ff;
    box-shadow: inset 0vw 0vw 0vw 0.335vw #1a1a1a !important;
    border: 1px solid #ffffff;
  }

  .languages:focus{
    background-color: #1a1a1a !important;
    border: 1px solid #ffffff;
  }

  #language-selector{
    background-color: #1a1a1a;
    width: 25vw;
    border-radius: 0px;
    border: 1px solid #949494;
  }

  #language-selector a{
    color: #fff !important;
  }

  #language-selector a:hover{
    color: #1a1a1a !important;
    background-color: #00ffd0;
  }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {

  .languages{
    display:inline-block;
    font-family: "pp-neue-machina", sans-serif;
    font-size: 1.116vw;
    background-color: #1a1a1a;
    border: 1px solid #ffffff;
    color: #fff;
    padding-top: 0.279vw;
    text-decoration: none;
    text-transform: uppercase;
    width: 25.000vw;
    height: 4.185vw;
    transition: 0.2s ease-in-out;
    border: 1px solid #ffffff;
  }

  .languages:hover{
    background-color: #8000ff;
    box-shadow: inset 0vw 0vw 0vw 0.335vw #1a1a1a !important;
    border: 1px solid #ffffff;
  }

  .languages:focus{
    background-color: #1a1a1a !important;
    border: 1px solid #ffffff;
  }

  #language-selector{
    background-color: #1a1a1a;
    width: 25vw;
    border-radius: 0px;
    border: 1px solid #949494;
  }

  #language-selector a{
    color: #fff !important;
  }

  #language-selector a:hover{
    color: #1a1a1a !important;
    background-color: #00ffd0;
  }

}

@media only screen and (min-width: 576px) and (max-width: 768px) {

  .languages{
    display:inline-block;
    font-family: "pp-neue-machina", sans-serif;
    font-size: 1.116vw;
    background-color: #1a1a1a;
    border: 1px solid #ffffff;
    color: #fff;
    padding-top: 0.279vw;
    text-decoration: none;
    text-transform: uppercase;
    width: 25.000vw;
    height: 4.185vw;
    transition: 0.2s ease-in-out;
    border: 1px solid #ffffff;
  }

  .languages:hover{
    background-color: #8000ff;
    box-shadow: inset 0vw 0vw 0vw 0.335vw #1a1a1a !important;
    border: 1px solid #ffffff;
  }

  .languages:focus{
    background-color: #1a1a1a !important;
    border: 1px solid #ffffff;
  }

  #language-selector{
    background-color: #1a1a1a;
    width: 25vw;
    border-radius: 0px;
    border: 1px solid #949494;
  }

  #language-selector a{
    color: #fff !important;
  }

  #language-selector a:hover{
    color: #1a1a1a !important;
    background-color: #00ffd0;
  }

}

@media only screen and (max-width: 576px) {

  .languages{
    display:inline-block;
    font-family: "pp-neue-machina", sans-serif;
    font-size: 3vw;
    background-color: #1a1a1a;
    border: 1px solid #ffffff !important;
    color: #fff;
    padding-top: 0.279vw;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    height: 14vw;
    transition: 0.2s ease-in-out;
    border: 1px solid #ffffff;
    border-radius: 0px;
  }

  .languages:hover{
    background-color: #8000ff;
    box-shadow: inset 0vw 0vw 0vw 1.25vw #1a1a1a !important;
    border: 1px solid #ffffff;
  }

  .languages:focus{
    background-color: #1a1a1a !important;
    border: 1px solid #ffffff;
    outline: none !important;
  }

  #language-selector{
    background-color: #1a1a1a;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #949494;
  }

  #language-selector a{
    color: #fff !important;
  }

  #language-selector a:hover{
    color: #1a1a1a !important;
    background-color: #00ffd0;
  }

}
