/* Footer Styling */

@media only screen and (min-width: 1200px) {

  .social-box{
    border-radius: 0px !important;
    border: 2px solid #949494;
    background-color: none;
  }

  .list-group{
    border-radius: 0px !important;
  }

  .list-group-item{
    background-color: #1a1a1a !important;
    padding: 1.116vw;
    font-size: 1.562vw;
    color: #fff;
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    border-bottom: 2px solid #949494;
    transition: 0.2s ease-in-out;
  }

  .list-group-item:hover{
    padding-left: 2.232vw;
    background-color: #00ffd0 !important;
    box-shadow: inset 0vw 0vw 0vw 0.391vw #1a1a1a !important;
    color: #1a1a1a !important;
  }

  .footer-content{
    padding-right: 5.580vw;
  }

  .social-icon{
    margin-right: 1.116vw !important;
    position: relative;
    top: 0.167vw;
  }

  .footer-grid{
    width:50.223vw;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  .social-box{
    border-radius: 0px !important;
    border: 2px solid #949494;
    background-color: none;
  }

  .list-group{
    border-radius: 0px !important;
  }

  .list-group-item{
    background-color: #1a1a1a !important;
    padding: 1.116vw;
    font-size: 1.562vw;
    color: #fff;
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    border-bottom: 2px solid #949494;
    transition: 0.2s ease-in-out;
  }

  .list-group-item:hover{
    padding-left: 2.232vw;
    background-color: #00ffd0 !important;
    box-shadow: inset 0vw 0vw 0vw 0.391vw #1a1a1a !important;
    color: #1a1a1a !important;
  }

  .footer-content{
    padding-right: 5.580vw;
  }

  .social-icon{
    margin-right: 1.116vw !important;
    position: relative;
    top: 0.167vw;
  }

  .footer-grid{
    width:50.223vw;
  }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {

  .social-box{
    border-radius: 0px !important;
    border: 2px solid #949494;
    background-color: none;
  }

  .list-group{
    border-radius: 0px !important;
  }

  .list-group-item{
    background-color: #1a1a1a !important;
    padding: 1.116vw;
    font-size: 1.562vw;
    color: #fff;
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    border-bottom: 2px solid #949494;
    transition: 0.2s ease-in-out;
  }

  .list-group-item:hover{
    padding-left: 2.232vw;
    background-color: #00ffd0 !important;
    box-shadow: inset 0vw 0vw 0vw 0.391vw #1a1a1a !important;
    color: #1a1a1a !important;
  }

  .footer-content{
    padding-right: 5.580vw;
  }

  .social-icon{
    margin-right: 1.116vw !important;
    position: relative;
    top: 0.167vw;
  }

  .footer-grid{
    width:50.223vw;
  }

}

@media only screen and (min-width: 576px) and (max-width: 768px){

  .social-box{
    border-radius: 0px !important;
    border: 2px solid #949494;
    background-color: none;
  }

  .list-group{
    border-radius: 0px !important;
  }

  .list-group-item{
    background-color: #1a1a1a !important;
    padding: 1.116vw;
    font-size: 1.562vw;
    color: #fff;
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    border-bottom: 2px solid #949494;
    transition: 0.2s ease-in-out;
  }

  .list-group-item:hover{
    padding-left: 2.232vw;
    background-color: #00ffd0 !important;
    box-shadow: inset 0vw 0vw 0vw 0.391vw #1a1a1a !important;
    color: #1a1a1a !important;
  }

  .footer-content{
    padding-right: 5.580vw;
  }

  .social-icon{
    margin-right: 1.116vw !important;
    position: relative;
    top: 0.167vw;
  }

  .footer-grid{
    width:50.223vw;
  }

}

@media only screen and (max-width: 576px) {

  .social-box{
    border-radius: 0px !important;
    border: 2px solid #949494;
    background-color: none;
  }

  .list-group{
    border-radius: 0px !important;
  }

  .list-group-item{
    background-color: #1a1a1a !important;
    padding: 3.5vw;
    font-size: 4vw;
    color: #fff;
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    border-bottom: 2px solid #949494;
    transition: 0.2s ease-in-out;
  }

  .list-group-item:hover{
    padding-left: 7vw;
    background-color: #00ffd0 !important;
    box-shadow: inset 0vw 0vw 0vw 0.391vw #1a1a1a !important;
    color: #1a1a1a !important;
  }

  .footer-content{
    padding-right: 2.3vw;
  }

  .social-icon{
    margin-right: 2vw !important;
    position: relative;
    top: 0.167vw;
  }

  .footer-grid{
    width:100%;
    display: none !important;
  }

}
