/* Navbar General */

.navbar{
  position: fixed;
  width:100%;
}

@media only screen and (min-width: 1200px) {

  div.container-fluid.top-nav{
    padding-left: 0px !important;
  }

  .navbar{
    background-color: #1a1a1a !important;
    height: 4.5vw;
    border-bottom: 2px solid #949494;
  }

  .nav-logo{
    width: 4.4vw;
  }

  .nav-logo:hover{
    transform: scale(0.9);
  }

  .nav-item{
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    font-size: 1vw;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  div.container-fluid.top-nav{
    padding-left: 0px !important;
  }

  .navbar{
    background-color: #1a1a1a !important;
    height: 5vw;
    border-bottom: 2px solid #949494;
  }

  .navbar-brand{
    padding-top:0px !important;
    padding-bottom: 0px !important;
  }

  .nav-logo{
    width: 4.9vw;
  }

  .nav-logo:hover{
    transform: scale(0.9);
  }

  .nav-item{
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    font-size: 1.2vw;
  }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {

  div.container-fluid.top-nav{
    padding-left: 0px !important;
  }

  .navbar{
    background-color: #1a1a1a !important;
    height: 10vw;
    border-bottom: 2px solid #949494;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .navbar-brand{
    padding-top:0px;
    padding-bottom: 0px;
  }

  .container-fluid{
    background: none !important;
  }

  .nav-logo{
    width: 9.8vw;
    top:0px !important;
  }

  .nav-logo:hover{
    transform: scale(0.9);
  }

  .nav-item{
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    font-size: 1.2vw;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {

  div.container-fluid.top-nav{
    padding-left: 0px !important;
  }

  .navbar{
    background-color: #1a1a1a !important;
    height: 13.5vw;
    border-bottom: 2px solid #949494;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .navbar-brand{
    padding-top:0px;
    padding-bottom: 0px;
  }

  .container-fluid{
    background: none !important;
  }

  .nav-logo{
    width: 13.2vw;
    top:0px !important;
  }

  .nav-logo:hover{
    transform: scale(0.9);
  }

  .nav-item{
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    font-size: 1.2vw;
  }
}

@media only screen and (max-width: 576px) {

  div.container-fluid.top-nav{
    padding-left: 0px !important;
  }

  .navbar{
    background-color: #1a1a1a !important;
    height: 11vw;
    border-bottom: 2px solid #949494;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .navbar-brand{
    padding-top:0px;
    padding-bottom: 0px;
  }

  .container-fluid{
    background: none !important;
  }

  .nav-logo{
    width: 10.7vw;
    top:0px !important;
  }

  .nav-logo:hover{
    transform: scale(0.9);
  }

  .nav-item{
    font-family: "pp-neue-machina", sans-serif;
    text-transform: uppercase;
    font-size: 1.2vw;
  }

}
