{{ define "main" }}

<section class="two-boxes hero-section">

<div>

  <span id="aa62fd265a9f"></span>

</div>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Careers</h1>
        <p class="lead">Join us!</p>
        <p>tea is building an open-source ecosystem that is fair for everyone. We are growing our team of talented people to make this happen. We are looking for curious, passionate, and smart teammates. If you are interested please check out our open positions below.</p>
        <img class="mobile-grid-element" src="/Images/mobile-grid-element-3-rows.svg" alt="grid">
      </div>
    </div>
  </div>
</section>

<hr>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" id="jobOne" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Accordion Item #1
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body two-boxes">
          <div class="one-box-down">
            <p>Employment type: <span id="typeOne"></span></p>
            <p>Department: <span id="deptOne"></span></p>
            <p>Location: <span id="locOne"></span></p>
          </div>
          <div class="one-box-down">
            <hr>
          </div>
          <div class="one-box-down" id="descOne"></div>
          <div>
            <a href="" id="linkOne">
            <button class="detail-btn-large"><i class="icon-enter-arrow"></i>VIEW ALL DETAILS</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" id="jobTwo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Accordion Item #2
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body two-boxes">
          <div class="one-box-down">
            <p>Employment type: <span id="typeTwo"></span></p>
            <p>Department: <span id="deptTwo"></span></p>
            <p>Location: <span id="locTwo"></span></p>
          </div>
          <div class="one-box-down">
            <hr>
          </div>
          <div class="one-box-down" id="descTwo"></div>
          <div>
            <a href="" id="linkTwo">
            <button class="detail-btn-large"><i class="icon-enter-arrow"></i>VIEW ALL DETAILS</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" id="jobThree" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body two-boxes">
          <div class="one-box-down">
            <p>Employment type: <span id="typeThree"></span></p>
            <p>Department: <span id="deptThree"></span></p>
            <p>Location: <span id="locThree"></span></p>
          </div>
          <div class="one-box-down">
            <hr>
          </div>
          <div class="one-box-down" id="descThree"></div>
          <div>
            <a href="" id="linkThree">
            <button class="detail-btn-large"><i class="icon-enter-arrow"></i>VIEW ALL DETAILS</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Why Work at tea -->
<section class="teal-bg two-boxes">
  <div class="row">
    <div class="container two-boxes">
      <div class="row">
        <div class="col">
          <h3 class="black text-center">Why work @ tea?</h3>
          <p class="text-center black" style="background-color:#00ffd0 !important;">Join a team of motivated and passionate individuals and be a part of a rapidly growing and exciting project in web3 and open source technologies. We offer an attractive salary, relocation packages (if applicable), token/equity options and performance&#8208;based bonuses.</p>
        </div>
      </div>
    </div>
  </div>

</section>

<style>

  .accordion-button{
    line-height: 6vw;
  }

</style>

{{ end }}
