{{ define "main" }}

<section class="two-boxes">
  <div class="container">
    <div class="row">
      <div class="col hero-col">
        <div class="hero-content">
          <h1>tea @ Web Summit 2022</h1>
          <p class="lead">The tea’m will be in Lisbon the first week of November to meet developers, speak on stage, and celebrate the launch of tea cli! Check the schedule below for a full itinerary of tea’vents, including a speech on the FLLSTACK Stage by Max about tea’s role in shaping the future of open source. Don’t hesitate to come up and say hi - we can’t wait to meet you and have some new merchandise to share as well!</p>
          <img class="xl-grid-element" src="/Images/xl-grid-element.svg" alt="grid-element">
          {{- partial "mobile-grid-element" -}}
        </div>
      </div>
    </div>
  </div>
</section>


<hr>

<section class="two-boxes">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 my-auto schedule-content">
        <h2>Schedule</h2>
        <p class="lead">While we’re there all week to learn from and meet people, Thursday and Friday are going to be our busiest days. Don’t hesitate to come up and say hi - we can’t wait to meet you and have some new merchandise to share as well!</p>
        <p>Thursday, November 3rd is going to be a jam-packed day in Lisbon. Not only are we releasing our command line interface, but Max will be speaking solo on the FLLSTACK stage about tea and Tim will be speaking on a panel about fundraising for tech. We will then be going out to dinner with the people who believed in our vision from day one to celebrate. The next day, we’re hosting a swanky rooftop party at Hotel Mundial that's open to any dev in the area! We only have space for 150 people though, so be sure to rsvp.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 my-auto">
        <div class="agenda-container">
          <div class="agenda-item p-lg-5 p-md-5 p-sm-4 p-4">
            <h4>Thursday, Nov. 3 @ 11:30AM</h4>
            <p>Max Howell speaks on the FLLSTACK stage.</p>
          </div>
          <hr>
          <div class="agenda-item p-lg-5 p-md-5 p-sm-4 p-4">
            <h4>Thursday, Nov 3 @ 2:05PM</h4>
            <p>Panel on fundraising for tech companies on FLLSTACK stage.</p>
          </div>
          <hr>
          <div class="agenda-item p-lg-5 p-md-5 p-sm-4 p-4">
            <h4>Thursday Evening, Nov 3 – Investor Dinner (privatea)</h4>
            <p>Dinner event exclusively for tea investors.</p>
          </div>
          <hr>
          <div class="agenda-item p-lg-5 p-md-5 p-sm-4 p-4">
            <h4>Friday, Nov 4 – 6:00PM - 9:00PM</h4>
            <p>We're throwing a swanky tea launch party at Mundial Hotel! <a href="https://lu.ma/tealisbon">RSVP here</a> or via the section below.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>

  .agenda-container{
    border: 2px solid #949494;;
  }

  .agenda-item p{
    margin-bottom: 0px !important;
  }

  @media only screen and (max-width: 576px) {

    .schedule-content{
      margin-bottom: 75px !important;
    }

    .xl-grid-element{
      display: none;
    }

  }

</style>

<hr>

<section class="rsvp-section pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-7 col-sm-12 col-12 mb-sm-5 mb-5 my-auto">
        <h2 class="display-5 dark-text">RSVP for our launch party!</h2>
        <p class="dark-text mb-4">​Join the tea’m as we celebrate the launch of tea.cli, the successor to homebrew. Hear from co-founders Max Howell and Timothy Lewis about the revolutionary new package manager, the future of open-source, and how blockchain will play a role in it. We will have an open bar, small plates, and a great opportunity to just hang out after a long week of networking. This event is open to all attendees of Websummit but RSVP now: venue capacity is only 150 people.</p>
        <button onClick="location.href='https://lu.ma/tealisbon'" class="detail-btn-large"><i class="icon-enter-arrow"></i>RSVP ON LU.MA</button>
      </div>
      <div class="col">
        <img class="qr-code" src="/Images/lisbon-qr-code-teal.svg" alt="qr-code">
      </div>
    </div>
  </div>
</section>

{{ end }}
