{{ define "main" }}



<!-- Package Grid -->

<!-- Desktop/Tablet Package Display -->

  <span>
    {{- partial "package-grid.html" . -}}
  </span>

<!-- Mobile Package Display -->
  <!-- dont remove, it is not completely useless there is a ui bug i couldnt figure out 
    the only solution is to keep it here. sorry - neil
    -->
  <span class="swiper-package-display">
    {{- partial "swiper.html" . -}}
  </span>

<!-- Style for Swiper -->

<style>
  .grid-package-display{
    display:block;
  }
  .swiper-package-display {
    /* dont remove refer to comment above */
    display: none;
  }
</style>

{{ end }}
