{{ define "main" }}

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="subscription-content">
          <div>
            <h1 class="display-1 text-center">Subscription Confirmed</h1>
            <p class="text-center one-box-down">You&#39;ve successfully subscribed to our newletter. Don&#39;t worry, we won&#39;t blow up your inbox. Here at tea, we take a pretty minimal approach to emails. If there's something that you absolutely need to know, we&#39;ll reach out. In the meantime, be sure to <a href="https://discord.gg/KCZsXfJphn">join our Discord!</a></p>
            <a href="/">
              <button id="back-home" class="detail-btn-large"><i class="icon-enter-arrow"></i>BACK TO HOME PAGE</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>

  .subscription-content{
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
  }

  #back-home{
    display: block;
    margin-left:auto;
    margin-right:auto;
  }

</style>

{{ end }}
